/* SPDX-FileCopyrightText: 2019 Alyssa Ross <hi@alyssa.is> */
/* SPDX-License-Identifier: GPL-3.0-or-later */

/*
Less is more.
*/

body {
	max-width: 65ch;
	padding: 0 2em;
	margin: 2em auto;
	line-height: 1.4;
	font-family: sans-serif;
}

h1, h2, h3, h4 {
	line-height: 1.1;
}

var {
	font-family: serif;
}

/*
Firefox only supports conic gradients as of 83.0, so for the time
being, we need to provide a fallback for the logo.
*/

.logo { display: none; }
.no-logo { display: block; }

@supports (background: conic-gradient(from 0.25turn, red, magenta, blue, aqua, lime, yellow, red)) {
	.logo { display: block; }
	.no-logo { display: none; }
}
