[Unit]
Description=Weston Wayland compositor
Requires=systemd-logind.service
After=systemd-logind.service
User=root

[Service]
ExecStartPre=mkdir -m 0700 /run/user/%U
StandardInput=tty
TTYPath=/dev/tty1
ExecStart=weston
Type=notify

[Install]
WantedBy=default.target
